[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "*"
django = "*"
python-dotenv = "*"
python-decouple = "*"
mysqlclient = "*"

[dev-packages]

[requires]
python_version = "3.10"
